footer {
  margin-top: 1em;
  padding: 3rem 0;
  position: relative;

  background-image: url('../img/footer.gif');

  h4 {
    color: $white-font-color;
  }

  a {
    color: $light-blue-link-color;
  }

  .twitter-circle {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: -60px;
    border-radius: 60px;
    background: white;
    text-align: center;

    path {
      fill: #55acee;
    }

    .wrapper {
      position: absolute;
      width: 110px;
      height: 110px;
      left: 50%;
      top: 50%;
      margin-left: -55px;
      margin-top: -55px;
      border-radius: 55px;
      box-sizing: border-box;
      border: 1px solid #55acee;
      transition: ease-in-out .5s;

      &:hover {
        background: #55acee;

        svg {
          transform: scale(1.2,1.2);
          -webkit-transform: scale(1.2,1.2);
        }

        path {
          fill: white;
        }
      }
    }

    svg {
      height: 50px;
      width: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -25px;
      margin-top: -25px;
      transition: ease-in-out .5s;
    }
  }
}