* {
  font-family: "Roboto", "Avenir Next", Arial, sans-serif;
  font-weight: 300;
  color: #676767;
}

h1, h2, h3, h4 {
  color: #3F3F3F;
}

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.1em;
}

a {
  color: #2A9CB4;
  transition: ease-in-out .4s;
}

a.white-underline-hover:hover {
  border-bottom: 1px solid white;
}
a.red-hover:hover {
  color: $light-red-background-color;
}