header {
  // height: 541px; // temporary
  padding: 10rem 0;

  background-image: url('../img/header-background.png');
  background-size: cover;

  h1, h4 {
    text-align: center;
    color: white;
  }

  a {
    color: #59D6F1;
  }


}