header {
  padding: 15vw 0;

  background-image: url('../img/header-background.png');
  background-size: cover;

  h1, h4 {
    text-align: center;
    color: $white-font-color;
  }

  a {
    color: $light-blue-link-color;
  }


}