header {
  background-image: url('../img/26.jpg');
  background-size: cover;
}

header .overlay {
  height: 100%;
  width: 100%;

  padding: 15vw 0;

  background-color: rgba(0, 0, 0, .7);
  // background-image: url('../img/header-background.png');
  // background-size: cover;


  h1, h4 {
    text-align: center;
    color: $white-font-color;
  }

  a {
    color: $light-blue-link-color;
  }


}